<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BookStore</title>
    <link rel="stylesheet" href="/commons.css"/>
    <link rel="stylesheet" href="/cart.css"/>
</head>
<body>
<div th:replace="fragments.html :: logo"></div>
<div th:replace="fragments.html :: menu"></div>
<div id="content">
    <div th:if="${cart.positions.isEmpty()}">Twój koszyk jest pusty</div>
    <div class="position" th:if="${!cart.positions.isEmpty()}">
        <div class="title">Tytuł</div>
        <div class="author">Autor</div>
        <div class="quantity">Ilość</div>
        <div class="price">Cena j.</div>
        <div class="position-sum">Cena</div>
    </div>
    <div th:each="position : ${cart.positions}" class="position">
        <div th:text="${position.book.title}" class="title"></div>
        <div th:text="${position.book.author}" class="author"></div>
        <div th:text="${position.positionQuantity}" class="quantity"></div>
        <div th:text="${position.book.price}" class="price"></div>
        <div th:text="${position.positionQuantity * position.book.price}" class="position-sum"></div>
    </div>
    <div class="position" th:if="${!cart.positions.isEmpty()}">
        <div class="title"></div>
        <div class="author"></div>
        <div class="quantity"></div>
        <div class="price">Suma:</div>
        <div class="position-sum" th:text="${sum}"></div>
    </div>
    <a href="/order/confirm" th:if="${!cart.positions.isEmpty()}">Zamów</a>
</div>
</body>
</html>